:root {
  --m: 4rem;
  --red: #FF6565;
  --pink: #FF64F9;
  --purple: #6B5FFF;
  --blue: #4D8AFF;
  --green: #5BFF89;
  --yellow: #FFEE55;
  --orange: #FF6D1B;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: 
    linear-gradient(#121213, #121213),
    linear-gradient(#121213 50%, rgba(18, 18, 19, 0.6) 80%),
    linear-gradient(90deg, var(--orange), var(--yellow), var(--green), var(--blue), var(--purple), var(--pink), var(--red));
  background-blend-mode: overlay, overlay, normal;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.container {
  margin-top: 50px;
}

.button {
  border:calc(0.08*var(--m)) solid transparent;
  border-radius:calc(0.7*var(-m));
  padding:calc(0.5*var(-m));
  display:flex;
  justify-content:center;
  curor:pointer;
}

.button:hover {
  background-color: #ffa07a;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animates {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 200%;
  }
}

.counter {
  margin-top: 20px;
  font-size: 32px;
  color: #333;
}

.message {
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}
